.ceremony{
    background: #fff;
    width: 375px;
    height: 51px;
    position: relative;
    margin-bottom: 10px;
}
.cere_return{
    border-width: 0px;
    position: absolute;
    left: 15px;
    top: 18px;
    width: 12px;
    height: 19px;
    color: #1E1E1E;
}
.cere_return img{
    width: 12px;
    height: 19px;
}
.cere_gift{
    line-height: 39px;
}
.ceregiftl{
    border-width: 0px;
    position: absolute;
    left: 83px;
    top: 6px;
    width: 104px;
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    color: #FFFFFF;
    background: #199ED8;
    text-align: center;
}
.ceregiftr{
    border: 1px solid;
    box-sizing: border-box;
    position: absolute;
    left: 187px;
    top: 6px;
    width: 104px;
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    color: #199ED8;
    text-align: center;
}
.cereadd{
    border-width: 0px;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 24px;
    height: 24px;
}
.cereadd img{
    width: 24px;
    height: 24px;
}
.cere_type{
    display: flex;
    margin-bottom: 10px;
}
.ceretype{
    flex: 1;
    width: 123px;
    height: 39px;
    font-size: 14px;
    text-align: center;
    line-height: 39px;
    background: #fff;
    border-right: 1px #ccc solid;
}
.ceretime{
    width: 123px;
    height: 39px;
    font-size: 14px;
    text-align: center;
    line-height: 39px;
    background: #fff;
    border-right: 1px #ccc solid;
    flex: 1;
}
.cere_receipt{
    width: 375px;
    height: 64px;
    background: #fff;
    position: relative;
}
.category_cere{
    border-width: 0px;
    position: absolute;
    left: 15px;
    top: 12px;
    width: 113px;
    height: 16px;
    font-size: 16px;
    color: #333;
}
.cereamount{
    border-width: 0px;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 57px;
    height: 16px;
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FF0000;
}
.g_cere{
    border-width: 0px;
    position: absolute;
    left: 35px;
    top: 40px;
    width: 113px;
    height: 16px;
    white-space: nowrap;
    font-size: 14px;
    color: #333;
}
.ceredate{
    border-width: 0px;
    position: absolute;
    right: 10px;
    top: 40px;
    width: 65px;
    height: 16px;
    color: #999999;
    font-size: 14px;
}